#score-div{
    border: black solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 33%;
    font-size: large;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

#score-body{
    margin-top: 10%;  
}

#highscore-text{
    display: inline-block; 
    width: 48%; 
    margin-top: 2%;
}

#Quizdiv{
    width: 500px; 
    list-style-type: none; 
    text-align: center; 
    margin-top: 10%;
}



